body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    backdrop-filter: blur(3px);
    z-index: -1;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(20, 20, 20, 0.8);
    padding: 30px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 0 15px #000;
}

.login-box h1 {
    color: white;
    text-align: center;
}

.login-box input {
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #333;
    color: white;
}

.login-box button {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #6c38ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover {
    background: #532ccc;
}

#loginMsg {
    color: #fff;
    margin-top: 15px;
    text-align: center;
}
